<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduationprojectordermanagementsystem.mapper.FileMapper">
    <select id="selectByUuid" resultType="com.graduationprojectordermanagementsystem.pojo.entity.UploadFile">
        SELECT * FROM upload_file WHERE file_uuid = #{fileUuid}
    </select>
</mapper>